In [17]:
for i in range(1,10):
    if i == 5:
        break
        
    for k in range(1,10):
        print("i is", i, "k is ", k, "Results = ", i*k)

i is 1 k is  1 Results =  1
i is 1 k is  2 Results =  2
i is 1 k is  3 Results =  3
i is 1 k is  4 Results =  4
i is 1 k is  5 Results =  5
i is 1 k is  6 Results =  6
i is 1 k is  7 Results =  7
i is 1 k is  8 Results =  8
i is 1 k is  9 Results =  9
i is 2 k is  1 Results =  2
i is 2 k is  2 Results =  4
i is 2 k is  3 Results =  6
i is 2 k is  4 Results =  8
i is 2 k is  5 Results =  10
i is 2 k is  6 Results =  12
i is 2 k is  7 Results =  14
i is 2 k is  8 Results =  16
i is 2 k is  9 Results =  18
i is 3 k is  1 Results =  3
i is 3 k is  2 Results =  6
i is 3 k is  3 Results =  9
i is 3 k is  4 Results =  12
i is 3 k is  5 Results =  15
i is 3 k is  6 Results =  18
i is 3 k is  7 Results =  21
i is 3 k is  8 Results =  24
i is 3 k is  9 Results =  27
i is 4 k is  1 Results =  4
i is 4 k is  2 Results =  8
i is 4 k is  3 Results =  12
i is 4 k is  4 Results =  16
i is 4 k is  5 Results =  20
i is 4 k is  6 Results =  24
i is 4 k is  7 Results =  28
i is 4 k is  8 Results =  32
i is 4 k is  9 Results =  36

In [15]:
for i in range(1,10):
        
    for k in range(1,10):
        print("i is", i, "k is ", k, "Results = ", i*k)

    if i == 5:
        break

i is 1 k is  1 Results =  1
i is 1 k is  2 Results =  2
i is 1 k is  3 Results =  3
i is 1 k is  4 Results =  4
i is 1 k is  5 Results =  5
i is 1 k is  6 Results =  6
i is 1 k is  7 Results =  7
i is 1 k is  8 Results =  8
i is 1 k is  9 Results =  9
i is 2 k is  1 Results =  2
i is 2 k is  2 Results =  4
i is 2 k is  3 Results =  6
i is 2 k is  4 Results =  8
i is 2 k is  5 Results =  10
i is 2 k is  6 Results =  12
i is 2 k is  7 Results =  14
i is 2 k is  8 Results =  16
i is 2 k is  9 Results =  18
i is 3 k is  1 Results =  3
i is 3 k is  2 Results =  6
i is 3 k is  3 Results =  9
i is 3 k is  4 Results =  12
i is 3 k is  5 Results =  15
i is 3 k is  6 Results =  18
i is 3 k is  7 Results =  21
i is 3 k is  8 Results =  24
i is 3 k is  9 Results =  27
i is 4 k is  1 Results =  4
i is 4 k is  2 Results =  8
i is 4 k is  3 Results =  12
i is 4 k is  4 Results =  16
i is 4 k is  5 Results =  20
i is 4 k is  6 Results =  24
i is 4 k is  7 Results =  28
i is 4 k is  8 Results =  32
i is 4 k is  9 Results =  36
i is 5 k is  1 Results =  5
i is 5 k is  2 Results =  10
i is 5 k is  3 Results =  15
i is 5 k is  4 Results =  20
i is 5 k is  5 Results =  25
i is 5 k is  6 Results =  30
i is 5 k is  7 Results =  35
i is 5 k is  8 Results =  40
i is 5 k is  9 Results =  45

In [19]:
def spam():
    eggs = 99
    bacon()

    print(eggs)

def bacon():
    ham = 101
    eggs = 0

spam()

99

In [25]:
def spam():
    eggs = 20
    print(eggs)

eggs = 42
spam()

eggs = 10
print(eggs)

20
10

In [31]:
def spam(num):
    result = 0 
    try:
        result = 42/num
    except:
        print("Error", "You cannot divide soomething by zero")
    return result

print(spam(2))
print(spam(12))
print(spam(0))
print(spam(1))

21.0
3.5
Error You cannot divide soomething by zero
0
42.0

In [41]:
def collatz(num):
    if num % 2 == 0:
        result = num//2
    else:
        result = (3*num) + 1
    print(result)
    return result
try:
    num = int(input("Enter one integer whatever you want"))
    while num != 1:
        num = collatz(num)
except:
    print("Invalid Value")

Enter one integer whatever you want 100

50
25
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1